In [1]:
import pandas as pd

In [4]:
employee_data_pro = pd.read_csv('employee_data.csv')

# 1. How many employees are there in the dataset?

In [5]:
len(employee_data_pro) #this function gives us hoe many employees are in the data set

600

# 3. What is the highest salary among the employees

In [19]:
employee_data_pro['Salary'].max()

149794

# 5 Which department has the highest average salary

In [27]:
Highest_Average_Department = (employee_data_pro.groupby('Department').agg({'Salary':'mean'}))
Highest_Average_Department

                    Salary
Department
Engineering   93146.666667
Finance       95251.266187
HR            99133.098361
Marketing     99817.094828
Sales        100416.000000

In [31]:
Highest_Average_Department['Salary'].max()

100416.0

# 6. What is the total salary expenditure for the company

In [32]:
employee_data_pro['Salary'].sum()

58542435

# 7. How many employees are in each department

In [33]:
employee_data_depart = (employee_data_pro.groupby('Department').agg({'First Name':'count'}))

In [34]:
employee_data_depart

             First Name
Department
Engineering         105
Finance             139
HR                  122
Marketing           116
Sales               118